# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
[Pp]rojectSettings/ProjectVersion.txt

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
.vsconfig
UpgradeLog*.htm

# OS
.DS_Store
Thumbs.db

.cursor